<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Spring Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
              <a class="nav-link" href="/admin/item/new">상품등록</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
              <a class="nav-link" href="/admin/items">상품 관리</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" href="/cart">장바구니</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" href="/orders">구매이력</a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">추가기능</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/excel/excelUpload">엑셀(Excel)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/excel/excelView2">엑셀2(Excel)</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/chart/basic">차트(Chart)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/chart/google">구글차트(Google)</a> 
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">추가기능2</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/xterm/basic">xterm(basic)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">xterm(terminal)</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">준비1</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">준비2</a> 
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" href="/board/list">게시판</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
              <a class="nav-link" href="/member/login">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" href="/member/logout">로그아웃</a>
            </li>
          </ul>
          <form class="form-inline">
            <span sec:authorize="isAuthenticated()">
              <font color="white">
                <b>
                  <span th:text="${user}"></span>
                </b>
                님 &nbsp;
              </font>
            </span>
          </form>
          <form class="d-flex" role="search">
            <input
              name="searchQuery"
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</html>
